body {
    border-top: solid 16px black;
}

/* header */
#logo-c {
    font-size: 56px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";;
}

.logo-text {
    font-size: 15px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";;
    text-transform: uppercase;
    font-weight: 600;
}

#hamburger {
    height: 14px;
    width: 20px;
    cursor: pointer;
}

#hamburger > span {
    height: 2px; 
    background-color: black;
    width: 100%; 
}

#hamburger:hover {
    opacity: .65;
}

/* main */

#about-line, #benefits-line, #testimonials-line {
    border-bottom: 5px solid black;
}

#about-line {
    border-bottom-color: rgb(95, 90, 200);
}

#benefits-line {
    border-bottom-color: rgb(60,120,225);
}

#testimonials-line {
    border-bottom-color: rgb(20,150,255);
}

#read {
    color: rgb(95, 90, 200);
}

.p-lh {
    line-height: 20px;
}

.checkbox {
    background-color: lightgrey; 
    height: 16px;
    padding: 0 2px;
}

